body {
	font-family: 'Roboto', sans-serif;
}

.navbar-color {
	background-color: #294E80;
}

.bg-grey {
	background-color: #ECEFF1;
}

.border-colored {
	border: 1px solid #294E80;
}

.heading-colored {
	color: #294E80;
}

.font-20 {
	font-size: 20px;
}

.selector:hover {
	cursor: pointer;
	background-color: white;
}

.selected, .selected:hover, .selected:focus {
	background-color: #294E80;
}